body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

header {
    text-align: center;
}


.nav {
    text-align: center;
    list-style-type: none;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

.nav button {
    background: rgba(38, 38, 138, 0.514);
    color: white;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.nav button:hover {
    transform: scale(1.2)
}

.party {
  font-family: Montserrat, "sans-serif";
  color: #303030;  
  width: 80%;
  border: 1px solid;
  border-radius: 8px;
  padding: 0 50px 0 50px;
  background: white;
  text-align: center;
  margin: 0 auto;
}

.party h1 {
    margin-bottom: 6%;
    margin-top: 7%;
}

div {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 83px;
    margin-top: 25px;
}

div label {
    margin-bottom: 3%;
    font-weight: 600;
}

div input {
    padding: 1%;
}

.party button {
    width: 50%;
    height: 7%;
    font-weight: 700;
    font-size: 28px;
    background: white;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #303030;
    cursor: pointer;
    margin-bottom: 10%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
  }