body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

header {
    text-align: center;
    margin-top: 5%;
}

#retour{
    text-align: center;
    margin-top: 7%;
    display: none;
}

#nav {
    text-align: center;
    list-style-type: none;
    border: 1px solid white;
    padding: 3.5%;
    margin-top: 8%;
    margin-left: 2.8%;
    margin-right: 2.8%;
}

button {
    background: rgba(38, 38, 138, 0.514);
    color: white;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

#party {
    font-family: Montserrat, "sans-serif";
    color: #303030;  
    width: 80%;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background: rgb(243, 243, 255);
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  
#party h1 {
    width: 80%;
    background: rgb(15, 15, 86);
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    margin-top: 8%;
    padding: 2%;
  }
  
#party div {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 83px;
    margin-top: 25px;
  }
  
div label {
    background: rgb(225, 225, 255);
    margin-bottom: 3%;
    padding: 2%;
    font-weight: 600;
  }
  
div input {
    padding: 1%;
  }
  
#party button {
    width: 50%;
    height: 7%;
    font-weight: 700;
    font-size: 28px;
    background: white;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #303030;
    cursor: pointer;
    margin-bottom: 10%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}


/* .table {
    background: black;
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}  */

table {
    width: 90%;
    margin-top: 8%;
}

table, th, td {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    color: black;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
    border: 1px solid rgba(62, 62, 160, 0.532);
}

th, td {
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

th {
    text-decoration: underline;
}

td {
    font-family: 'Space Mono', monospace;
}


